<section class="home-slider position-relative mb-30">
    <div class="container">
        <div class="home-slide-cover mt-30">
            <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">
                <div class="single-hero-slider single-animation-wrap" style="background-image: url({{ asset('assets/imgs/slider/slider-1.jpg') }})">
                    <div class="slider-content">
                        <h1 class="display-2 mb-40">
                            Bienvenue à la foire<br>
                            TIWA de Jinukun
                        </h1>
                        <p class="mb-65">Découvrez les produits de la foire</p>
                        <a href="#" class="btn float-end mr-180" style="font-size: 1.3em">Découvrir</a>
                    </div>
                </div>
                <div class="single-hero-slider single-animation-wrap" style="background-image: url({{ asset('assets/imgs/slider/slider-2.jpg') }})">
                    <div class="slider-content">
                        <h1 class="display-2 mb-40">
                            Fresh Vegetables<br />
                            Big discount
                        </h1>
                        <p class="mb-65">Découvrez les produits de la foire</p>
                        <a href="#" class="btn float-end mr-180" style="font-size: 1.3em">Découvrir</a>
                    </div>
                </div>
            </div>
            <div class="slider-arrow hero-slider-1-arrow"></div>
        </div>
    </div>
</section>
